@font-face {
    font-family: "Permanent Marker", cursive;
    /*src: url('/fonts/PermanentMarker-Regular.ttf');*/
    src: url('/Users/Juli/My Projects/Producer_E87_webSite/fonts/PermanentMarker-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
}

:root {
    font-size: 20px;
}

h1 {
    font-family: Verdana, arial, Tahoma, sans-serif;
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-size: 1.2rem;
    font-family: Garamond;
    font-style: oblique;
    font-weight: 900;
    color: orange;
    background-color: #006600;
}

h3 {
    font-family: "Permanent Marker";
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 3rem;
}

h4 {
    font-family: "Permanent Marker";
    color: rgb(254, 232, 176);
    background-color: #006600;
    text-align: center;
    font-size: 4rem;
}

h5 {
    /*PALETA COPADA*/
    background-color: rgb(249, 123, 34);
    /*#F97B22*/
    background-color: rgb(254, 232, 176);
    /*#FEE8B0*/
    background-color: rgb(124, 144, 112);
    /*#9CA777  */
    background-color: rgb(156, 167, 119);
    /*#7C9070*/
}

h6 {
    font-family: "Permanent Marker";
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 2rem;
}

/*-|-----ENLACES---------------------*/
a {
    font-family: "Permanent Marker", cursive;
    text-decoration: none;
    color: rgb(254, 232, 176);
    /*background-color: #006600;*/
    text-align: center;
    font-size: 2.3rem;
    margin-right: 5px;
}

a:hover {
    /*font-style: oblique;*/
    color: white;
    background-color: #006600;
}

a:link {
    color: red;
    background-color: #006600;
}

a:active {
    background-color: #006600;
}

a:visited {
    color: rgb(254, 232, 176);
}

/*--------ETIQUETAS SEMANTICAS------------*/
header {
    font-family: "Permanent Marker";
    background-color: rgba(0, 102, 0, 1);
    font-size: 5rem;
    text-align: center;
    margin-top: 0%;
    padding: 0%;
    animation: tagEffect 1s infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

body {
    font-family: "Permanent Marker";
    /*Garamond, arial, Tahoma, sans-serif */
    color: orange;
    background-color: #006600;
}

.nav__btn {
    color: rgb(254, 232, 176);
    background-color: #006600;
    text-align: center;
    font-size: 2rem;
}

.nav__btn:hover {
    color: blue;
    background-color: #006600;
    text-align: center;
    font-size: 2rem;
    animation: tagEffect 3s infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    /* padding: 40px;*/
}

/*-------------GRID AREAS------------*/
.contenedor {
    font-family: "Permanent Marker", cursive;
    max-width: 90rem;
    max-height: 180rem;
    display: grid;
    padding: 0%;
    background-color: #006600;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "cabeza   cabeza   cabeza cabeza"
        "nav       nav      nav     nav"
        "bloque1   main    main   sidebar"
        "bloque1   main    main   sidebar"
        "bloque1  main  main   sidebar"
        "footer   footer    footer footer";
    margin-right: auto;
    margin-left: auto;
    gap: 0.1%;

}

.contenedor .header {
    font-family: "Permanent Marker";
    grid-area: cabeza;
    background-color: #006600;
    color: orange;
    height: 12vh;
    width: 70%;
    text-align: center;
    font-size: 5rem;
    margin-top: 0%;
    margin-bottom: 10px;
    padding: 0%;
    /*border: red solid 2px;*/
}

.contenedor .nav {
    font-family: "Permanent Marker", cursive;
    grid-area: nav;
    background-color: #006600;
    color: white;
    height: 6vh;
    width: 100vh;
    text-align: center;
    margin-top: 0%;
    /*border: red solid 1px;*/
}

.contenedor .main {
    grid-area: main;
    background-color: #006600;
    color: orange;
    height: 78vh;
    margin-top: 1vh;
    /*border: cyan solid 2px;*/
    padding: 0%;
    overflow: auto;
}

.contenedor .sidebar {
    grid-area: sidebar;
    background-color: #006600;
    font-size: 1rem;
    color: white;
    border: blue solid 2px;
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
}

.contenedor .bloque1 {
    grid-area: bloque1;
    background-color: #006600;
    color: orange;
    border: #013801 solid 12px;
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
    height: 100vh;
}

.contenedor .bloque2 {
    grid-area: bloque2;
    background-color: antiquewhite;
    color: black;
    height: 15vh;
    border: red solid 2px;
}

.contenedor .footer {
    grid-area: footer;
    background-color: #006600;
    color: orange;
    width: 100%;
    height: 48vh;
    margin-top: 0%;
    /*border: red solid 2px;*/
    text-align: center;
    padding: 0px;
    display: inline-block;
    margin-left: 0px;
}

.header:hover {
    font-size: 5rem;
    animation: tagEffectInMotion 3s infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes tagEffectInMotion {

    /*
    0% {
        text-shadow:
        rgba(255, 255, 255, 1) 1px 0px,
        rgba(255, 255, 255, 1) 2px 0px,
        rgba(0, 0, 0, 1) 3px 0px,
        rgba(0, 0, 0, 1) 4px 0px,
        rgba(0, 0, 0, 1) 5px 0px,
        rgba(0, 0, 0, 1) 6px 0px,
        rgba(0, 0, 0, 1) 7px 0px,
        rgba(0, 0, 0, 1) 8px 0px,
        rgba(0, 0, 0, 1) 9px 0px,
        rgba(0, 0, 0, 1) 10px 0px,
        rgba(0, 0, 0, 1) 11px 0px,
        rgba(0, 0, 0, 1) 12px 0px,
        rgba(0, 0, 0, 1) 13px 0px,
        rgba(0, 0, 0, 1) 14px 0px,
        rgba(0, 0, 0, 1) 15px 0px,
        rgba(0, 0, 0, 1) 16px 0px,
        rgba(0, 0, 0, 1) 17px 0px,
        rgba(0, 0, 0, 1) 18px 0px,
        rgba(0, 0, 0, 1) 19px 0px,
        rgba(255, 255, 255, 1) 20px 0px,
        rgba(255, 255, 255, 1) 21px 0px;
    }
   100% {
        text-shadow:
        rgba(255, 255, 255, 1) 1px 0px,
        rgba(255, 255, 255, 1) 2px 0px,
        rgba(0, 0, 0, 1) 3px 0px,
        rgba(0, 0, 0, 1) 4px 0px,
        rgba(0, 0, 0, 1) 5px 0px,
        rgba(0, 0, 0, 1) 6px 0px,
        rgba(0, 0, 0, 1) 7px 0px,
        rgba(0, 0, 0, 1) 8px 0px,
        rgba(0, 0, 0, 1) 9px 0px,
        rgba(0, 0, 0, 1) 10px 0px,
        rgba(0, 0, 0, 1) 11px 0px,
        rgba(0, 0, 0, 1) 12px 0px,
        rgba(0, 0, 0, 1) 13px 0px,
        rgba(0, 0, 0, 1) 14px 0px,
        rgba(0, 0, 0, 1) 15px 0px,
        rgba(0, 0, 0, 1) 16px 0px,
        rgba(0, 0, 0, 1) 17px 0px,
        rgba(0, 0, 0, 1) 18px 0px,
        rgba(0, 0, 0, 1) 19px 0px,
        rgba(255, 255, 255, 1) 20px 0px,
        rgba(255, 255, 255, 1) 21px 0px;
    }
*/
    /*
0%{
    text-shadow:
    rgba(255, 255, 255, 1) 15px 0px
    rgba(254, 72, 0, 1) -15px 0px
}
10%{
    text-shadow:
    rgba(255, 255, 255, 1) -15px -0px
    rgba(254, 72, 0, 1) -15px 0px
}
20%{
    text-shadow:
    rgba(255, 255, 255, 1) 15px -10px
    rgba(254, 72, 0, 1) -15px 0px
}
30%{
    text-shadow:
    rgba(255, 255, 255, 1) -15px 10px
    rgba(254, 72, 0, 1) -15px 0px
}
40%{
    text-shadow:
    rgba(255, 255, 255, 1) 15px -0px
    rgba(254, 72, 0, 1) -15px 0px
}
50%{
    text-shadow:
    rgba(255, 255, 255, 1) -15px -0px
    rgba(254, 72, 0, 1) -15px 0px
}
60%{
    text-shadow:
    rgba(255, 255, 255, 1) 15px -0px
}
70%{
    text-shadow:
    rgba(255, 255, 255, 1) -15px -0px
}
80%{
    text-shadow:
    rgba(255, 255, 255, 1) 15px -0px
}
90%{
    text-shadow:
    rgba(255, 255, 255, 1) -15px -0px
}
100%{
    text-shadow:
    rgba(255, 255, 255, 1) 15px -0px
    rgba(254, 72, 0, 1) 0px -30px
}
   */

    0% {
        text-shadow:

            rgba(97, 0, 254, 1) -1px -0px 8px,
            rgba(97, 0, 254, 1) -2px -0px 8px,
            rgba(254, 72, 0, 1) -15px 0px 100px,
            rgba(97, 0, 254, 1) -18px -0px 8px,
            rgba(97, 0, 254, 1) -12px -0px 8px;
    }

    100% {
        text-shadow:
            rgba(97, 0, 254, 1) -1px -0px 8px,
            rgba(97, 0, 254, 1) -2px -0px 8px,

            rgba(254, 72, 0, 1) -15px 0px 8px,
            rgba(97, 0, 254, 1) -18px -0px 8px,
            rgba(97, 0, 254, 1) -12px -0px 8px;
    }
}

@keyframes tagEffect {
    0% {
        text-shadow:
            rgba(255, 255, 255, 1) 1px 0px,
            rgba(255, 255, 255, 1) 1px 1px,
            rgba(255, 255, 255, 1) 2px 0px,
            rgba(0, 0, 0, 1) 3px 0px,
            rgba(0, 0, 0, 1) 4px 0px,
            rgba(0, 0, 0, 1) 5px 0px,
            rgba(0, 0, 0, 1) 6px 0px,
            rgba(0, 0, 0, 1) 7px 0px,
            rgba(0, 0, 0, 1) 8px 0px,
            rgba(0, 0, 0, 1) 9px 0px,
            rgba(0, 0, 0, 1) 10px 0px,
            rgba(0, 0, 0, 1) 11px 0px,
            rgba(0, 0, 0, 1) 12px 0px,
            rgba(0, 0, 0, 1) 13px 0px,
            rgba(0, 0, 0, 1) 14px 0px,
            rgba(0, 0, 0, 1) 15px 0px,
            rgba(0, 0, 0, 1) 16px 0px,
            rgba(0, 0, 0, 1) 17px 0px,
            rgba(0, 0, 0, 1) 18px 0px,
            rgba(0, 0, 0, 1) 19px 0px,
            rgba(0, 0, 0, 1) 20px 0px,
            rgba(255, 255, 255, 1) 21px 0px,
            rgba(255, 255, 255, 1) 22px 0px;
    }

    /*
    50% {
        text-shadow:
            rgba(255, 255, 255, 0) 1px 0px,
            rgba(0, 0, 0, 0) 2px 0px,
            rgba(0, 0, 0, 0) 3px 0px,
            rgba(0, 0, 0, 0) 4px 0px,
            rgba(0, 0, 0, 0) 5px 0px,
            rgba(0, 0, 0, 0) 6px 0px,
            rgba(0, 0, 0, 0) 7px 0px,
            rgba(0, 0, 0, 0) 8px 0px,
            rgba(0, 0, 0, 0) 9px 0px,
            rgba(0, 0, 0, 0) 10px 0px,
            rgba(0, 0, 0, 0) 11px 0px,
            rgba(0, 0, 0, 0) 12px 0px,
            rgba(0, 0, 0, 0) 13px 0px,
            rgba(0, 0, 0, 0) 14px 0px,
            rgba(0, 0, 0, 0) 15px 0px,
            rgba(0, 0, 0, 0) 16px 0px,
            rgba(0, 0, 0, 0) 17px 0px,
            rgba(0, 0, 0, 0) 18px 0px,
            rgba(0, 0, 0, 0) 19px 0px,
            rgba(0, 0, 0, 0) 20px 0px,
            rgba(255, 255, 255, 1) 21px 0px;
    }

    75% {
        text-shadow:
            rgba(0, 0, 0, 1) 1px 0px,
            rgba(0, 0, 0, 1) 2px 0px,
            rgba(0, 0, 0, 1) 3px 0px,
            rgba(0, 0, 0, 1) 4px 0px,
            rgba(0, 0, 0, 1) 5px 0px,
            rgba(0, 0, 0, 1) 6px 0px,
            rgba(0, 0, 0, 1) 7px 0px,
            rgba(0, 0, 0, 1) 8px 0px,
            rgba(0, 0, 0, 1) 9px 0px,
            rgba(0, 0, 0, 1) 10px 0px,
            rgba(0, 0, 0, 1) 11px 0px,
            rgba(0, 0, 0, 1) 12px 0px,
            rgba(0, 0, 0, 1) 13px 0px,
            rgba(0, 0, 0, 1) 14px 0px,
            rgba(0, 0, 0, 1) 15px 0px,
            rgba(0, 0, 0, 1) 16px 0px,
            rgba(0, 0, 0, 1) 17px 0px,
            rgba(0, 0, 0, 1) 18px 0px,
            rgba(0, 0, 0, 1) 19px 0px,
            rgba(0, 0, 0, 1) 20px 0px;
    }

    100% {
        text-shadow:
            rgba(0, 0, 0, 1) 1px 0px,
            rgba(0, 0, 0, 1) 2px 0px,
            rgba(0, 0, 0, 1) 3px 0px,
            rgba(0, 0, 0, 1) 4px 0px,
            rgba(0, 0, 0, 1) 5px 0px,
            rgba(0, 0, 0, 1) 6px 0px,
            rgba(0, 0, 0, 1) 7px 0px,
            rgba(0, 0, 0, 1) 8px 0px,
            rgba(0, 0, 0, 1) 9px 0px,
            rgba(0, 0, 0, 1) 10px 0px,
            rgba(0, 0, 0, 1) 11px 0px,
            rgba(0, 0, 0, 1) 12px 0px,
            rgba(0, 0, 0, 1) 13px 0px,
            rgba(0, 0, 0, 1) 14px 0px,
            rgba(0, 0, 0, 1) 15px 0px,
            rgba(0, 0, 0, 1) 16px 0px,
            rgba(0, 0, 0, 1) 17px 0px,
            rgba(0, 0, 0, 1) 18px 0px,
            rgba(0, 0, 0, 1) 19px 0px,
            rgba(0, 0, 0, 1) 20px 0px;
    }
    */
    100% {
        text-shadow:
            rgba(255, 255, 255, 1) 1px 0px,
            rgba(255, 255, 255, 1) 1px 1px,
            rgba(255, 255, 255, 1) 2px 0px,
            rgba(0, 0, 0, 1) 3px 0px,
            rgba(0, 0, 0, 1) 4px 0px,
            rgba(0, 0, 0, 1) 5px 0px,
            rgba(0, 0, 0, 1) 6px 0px,
            rgba(0, 0, 0, 1) 7px 0px,
            rgba(0, 0, 0, 1) 8px 0px,
            rgba(0, 0, 0, 1) 9px 0px,
            rgba(0, 0, 0, 1) 10px 0px,
            rgba(0, 0, 0, 1) 11px 0px,
            rgba(0, 0, 0, 1) 12px 0px,
            rgba(0, 0, 0, 1) 13px 0px,
            rgba(0, 0, 0, 1) 14px 0px,
            rgba(0, 0, 0, 1) 15px 0px,
            rgba(0, 0, 0, 1) 16px 0px,
            rgba(0, 0, 0, 1) 17px 0px,
            rgba(0, 0, 0, 1) 18px 0px,
            rgba(0, 0, 0, 1) 19px 0px,
            rgba(0, 0, 0, 1) 20px 0px,
            rgba(255, 255, 255, 1) 21px 0px,
            rgba(255, 255, 255, 1) 22px 0px;
    }
}

@keyframes tagEffect650x400 {
    0% {
        text-shadow:
            rgba(255, 255, 255, 1) 1px 0px,
            rgba(255, 255, 255, 1) 1px 1px,
            rgba(255, 255, 255, 1) 2px 0px,
            rgba(0, 0, 0, 1) 3px 0px,
            rgba(0, 0, 0, 1) 4px 0px,
            rgba(0, 0, 0, 1) 5px 0px,
            rgba(0, 0, 0, 1) 6px 0px,
            rgba(0, 0, 0, 1) 7px 0px,
            rgba(0, 0, 0, 1) 8px 0px,
            rgba(0, 0, 0, 1) 9px 0px,
            rgba(0, 0, 0, 1) 10px 0px,
            rgba(255, 255, 255, 1) 11px 0px,
            rgba(255, 255, 255, 1) 12px 0px;
    }

    100% {
        text-shadow:
            rgba(255, 255, 255, 1) 1px 0px,
            rgba(255, 255, 255, 1) 1px 1px,
            rgba(255, 255, 255, 1) 2px 0px,
            rgba(0, 0, 0, 1) 3px 0px,
            rgba(0, 0, 0, 1) 4px 0px,
            rgba(0, 0, 0, 1) 5px 0px,
            rgba(0, 0, 0, 1) 6px 0px,
            rgba(0, 0, 0, 1) 7px 0px,
            rgba(0, 0, 0, 1) 8px 0px,
            rgba(0, 0, 0, 1) 9px 0px,
            rgba(0, 0, 0, 1) 10px 0px,
            rgba(255, 255, 255, 1) 11px 0px,
            rgba(255, 255, 255, 1) 12px 0px;
    }
}

.footer {
    display: inline-block;
    margin-left: 60px;
}

/*---------ESPECIFICO DE BIO---------------*/
#producere87_selfie {
    background-color: #006600;
    text-align: center;
    /*    border: 3px solid red;*/
    width: 495px;
    height: 373px;
}

#producer_E87_portrait {
    background-color: #006600;
    text-align: center;
    width: 500px;
    height: 400px;
    border: 3px solid red;
}

#face_icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
    margin-top: 15px;
}

#insta_icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
}

#twitter_icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
}

#youtube_icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
}

.audio_controls {
    display: inline-block;
    text-align: center;
    border: solid 3px rgb(254, 232, 176);
    width: 50vw;
    height: 29vh;
}

#deposito_1,
#deposito_2,
#deposito_3,
#deposito_4 {
    float: left;
    /*    width: 60px;
    height: 88px;
  */
    width: 6vw;
    height: 8.8vh;
    margin: 10px;
    border: 1px solid #999999;
}

#ruta_archivo,
#ruta_archivo2,
#ruta_archivo3,
#ruta_archivo4 {
    opacity: 0;
}

#starts_btn_1,
#starts_btn_2,
#starts_btn_3,
#starts_btn_4,
#stops_btn_1,
#stops_btn_2,
#stops_btn_3,
#stops_btn_4,
#pause_btn_1,
#pause_btn_2,
#pause_btn_3,
#pause_btn_4,
#loop_btn_1,
#loop_btn_2,
#loop_btn_3,
#loop_btn_4 {
    font-family: "Permanent Marker", cursive;
    font-size: 0.7rem;
    color: orange;
    background-color: #006600;
    border: 0px;
    padding: 0px;
}

#playRate_1,
#playRate_2,
#playRate_3,
#playRate_4,
#volume_1,
#volume_2,
#volume_3,
#volume_4 {
    width: 120px;
}

#volume_1_text,
#volume_2_text,
#volume_3_text,
#volume_4_text {
    font-family: "Permanent Marker", cursive;
    font-size: 1rem;
    color: orange;
    background-color: #006600;
    border: 0px;
    padding: 0px;
}

/*---------------------------------------------*/
/* , es para OR */
/*
@media (orientation:landscape) and (max-width:400px){
    .main .waiting_title {
        font-size: 2rem;
    }
}

@media (orientation:portrait){
    .main .waiting_title {
        font-size: 2rem;
    }  
}
*/
/*--------------------------------*/
/*MEDIAQUERIES*/
@media (orientation:landscape) and (max-width:892px) and (max-height:412px) {
    .contenedor .header {
        text-align: center;
        height: 18vh;
        width: 70%;
        font-size: 3rem;
        margin-top: 0%;
        margin-bottom: 10px;
        padding: 0%;
        /*border: red solid 2px;*/
    }

    .contenedor .bloque1 {
        font-size: 0.7rem;
    }

    .contenedor .sidebar {
        font-size: 0.7rem;
    }

    #volume_1_text,
    #volume_2_text,
    #volume_3_text,
    #volume_4_text {
        font-size: 0.7rem;
    }

    #duracion_1_text,
    #duracion_2_text,
    #duracion_3_text,
    #duracion_4_text {
        font-size: 0.7rem;
    }

    #play_Rate_1_text,
    #play_Rate_2_text,
    #play_Rate_3_text,
    #play_Rate_4_text {
        font-size: 0.7rem;
    }

    #autoplay_checkbox,
    #autoplay_checkbox2,
    #autoplay_checkbox3,
    #autoplay_checkbox4 {
        font-size: 0.7rem;
        /*border: red solid 3px;*/
    }

    #autoplay_1_text,
    #autoplay_2_text,
    #autoplay_3_text,
    #autoplay_4_text {
        font-size: 0.7rem;
    }

    #currentPosition_1,
    #currentPosition_2,
    #currentPosition_3,
    #currentPosition_4 {
        font-size: 0.7rem;
    }

    #player_1_label,
    #player_2_label,
    #player_3_label,
    #player_4_label {
        font-size: 0.7rem;
        text-align: left;
    }

    #deposito_1,
    #deposito_2,
    #deposito_3,
    #deposito_4 {
        float: left;
        /*    width: 60px;
    height: 88px;
  */
        width: 6vw;
        height: 8.8vh;
        margin: 10px;
        border: 1px solid #999999;
        font-size: 0.7rem;
    }

    .controles{
        display: inline-block;
    }
}

@media (orientation:portrait) and (max-width:412px) and (max-height:892px) {
    .contenedor .header {
        text-align: center;
        height: 6vh;
        width: 70%;
        font-size: 2.2rem;
        margin-top: 0%;
        margin-bottom: 10px;
        padding: 0%;
        /*border: red solid 2px;*/
    }

    .contenedor .bloque1 {
        font-size: 0.7rem;
    }

    .contenedor .sidebar {
        font-size: 0.7rem;
    }

    #volume_1_text,
    #volume_2_text,
    #volume_3_text,
    #volume_4_text {
        font-size: 0.7rem;
    }

    #duracion_1_text,
    #duracion_2_text,
    #duracion_3_text,
    #duracion_4_text {
        font-size: 0.7rem;
    }

    #play_Rate_1_text,
    #play_Rate_2_text,
    #play_Rate_3_text,
    #play_Rate_4_text {
        font-size: 0.7rem;
    }

    #autoplay_checkbox,
    #autoplay_checkbox2,
    #autoplay_checkbox3,
    #autoplay_checkbox4 {
        font-size: 0.7rem;
        /*border: red solid 3px;*/
    }

    #autoplay_1_text,
    #autoplay_2_text,
    #autoplay_3_text,
    #autoplay_4_text {
        font-size: 0.7rem;
    }

    #currentPosition_1,
    #currentPosition_2,
    #currentPosition_3,
    #currentPosition_4 {
        font-size: 0.7rem;
    }

    #player_1_label,
    #player_2_label,
    #player_3_label,
    #player_4_label {
        font-size: 0.7rem;
        text-align: left;
    }

    #deposito_1,
    #deposito_2,
    #deposito_3,
    #deposito_4 {
        float: left;
        /*    width: 60px;
    height: 88px;
  */
        width: 6vw;
        height: 8.8vh;
        margin: 10px;
        border: 1px solid #999999;
        font-size: 0.7rem;
    }

    .controles{
        display: inline;
    }
}


/*CLOSES MEDIA QUERIES */