@font-face {
    font-family: "Permanent Marker", cursive;
    src: url('fonts/PermanentMarker-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
}

:root {
    font-size: 20px;
}

h1 {
    font-family: Verdana, arial, Tahoma, sans-serif;
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-size: 1.2rem;
    font-family: Garamond;
    font-style: oblique;
    font-weight: 900;
    color: orange;
    background-color: #006600;
}

h3 {
    font-family: "Permanent Marker";
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 3rem;
}

h4 {
    font-family: "Permanent Marker";
    color: rgb(254, 232, 176);
    background-color: #006600;
    text-align: center;
    font-size: 4rem;
}

h5 {
    /*PALETA COPADA*/
    /*  background-color: rgb(249, 123, 34);*/
    /*#F97B22*/
    /*background-color: rgb(254, 232, 176);*/
    /*#FEE8B0*/
    /*background-color: rgb(124, 144, 112);*/
    /*#9CA777  */
    /*background-color: rgb(156, 167, 119);*/
    background-color: #006600;
    /*#7C9070*/
}

h6 {
    font-family: "Permanent Marker";
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 2rem;
}

/*--------ETIQUETAS SEMANTICAS------------*/

header {
    font-family: "Permanent Marker";
    background-color: #0d6804;
    font-size: 5rem;
    text-align: center;
    margin-top: 0%;
    padding: 0%;
}

body {
    font-family: "Permanent Marker";
    /*Garamond, arial, Tahoma, sans-serif */
    color: white;
    background-color: #0d6804;
}

main {
    width: 98%;
    height: 78%;
    background-color: #0d6804;
}

/*--------------------------------*/
/*-------------GRID AREAS------------*/
html {
    font-size: 52.5%;
    background-color: #95e18e;
}

.contenedor {
    width: 98%;
    height: 98%;
    font-family: "Permanent Marker", cursive;
    display: grid;
    padding: 0%;
    background-color: #7fa9f0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "cabeza   cabeza   cabeza cabeza"
        "nav       nav      nav     nav"
        "main   main    main   sidebar"
        "main   main    main   sidebar"
        "main  main  main   sidebar"
        "footer   footer    footer footer";
    gap: 0.1%;
}

.contenedor .header {
    font-family: "Permanent Marker";
    grid-area: cabeza;
    background-color: #006600;
    color: orange;
    height: 12vh;
    width: 70%;
    text-align: center;
    font-size: 3rem;
    margin-top: 0%;
    margin-bottom: 1vh;
    padding: 0%;
    border: red solid 2px;
}

.contenedor .main {
    grid-area: main;
    background-color: #006600;
    height: 98vh;
    border: white solid 5px;
    padding: 0%;
}

.contenedor .sidebar {
    grid-area: sidebar;
    background-color: #006600;
    color: white;
    height: 98vh;
    border: red solid 2px;
    margin: 0%;
    padding: 0%;
}

h5 {
    /*PALETA COPADA*/
    background-color: rgb(249, 123, 34);
    /*#F97B22*/
    background-color: rgb(254, 232, 176);
    /*#FEE8B0*/
    background-color: rgb(124, 144, 112);
    /*#9CA777  */
    background-color: rgb(156, 167, 119);
    /*#7C9070*/
}

p+h3 {
    font-family: "Permanent Marker", cursive;
    color: rgba (255, 165, 0, 0.7);
    font-size: 4rem;
}

iframe {
    height: 800px;
    width: 846px;
    margin-left: 20px;
    display: inline-block;
}


#carpeta {
    border: rgb(9, 66, 2) solid 2px;
}

::placeholder {
    font-size: 3vh;
    /* Change font size */
    color: #000000;
    /* Change color */
    opacity: 1;
    /* Firefox sets lower opacity by default */
}

#play_btn {
    height: 8vh;
    width: 12vh;
     font-size: 3vh;
}

/* ----- -----  Mediaqueries ----- ----- */
/*----Landscape (max-width: 650px) and (max-height:400px -----*/
@media (orientation:landscape) and (max-width: 650px) and (max-height:400px) {


    .main h2 {
        font-size: 0.98rem;
        font-family: Garamond;
        font-style: oblique;
        font-weight: 900;
        color: orange;
        background-color: #006600;
    }

    .contenedor {
        font-family: "Permanent Marker", cursive;
        max-width: 90rem;
        max-height: 180rem;
        display: grid;
        padding: 0%;
        background-color: #006600;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "cabeza   cabeza   cabeza cabeza"
            "nav       nav      nav     nav"
            "bloque1   main    main   sidebar"
            "bloque1   main    main   sidebar"
            "bloque1  main  main   sidebar"
            "footer   footer    footer footer";
        margin-right: auto;
        margin-left: auto;
        gap: 0.1%;
        border: double solid blue 5px;

    }

    header {
        font-family: "Permanent Marker";
        background-color: rgba(0, 102, 0, 1);
        font-size: 5rem;
        text-align: center;
        margin-top: 0%;
        padding: 0%;
        width: 100%;
    }

    .contenedor .header {
        font-family: "Permanent Marker";
        grid-area: cabeza;
        background-color: #006600;
        color: orange;
        font-size: 2rem;
        height: 12vh;
        width: 100vw;
        text-align: auto;
        overflow-y: auto;
        margin-top: 0%;
        margin-bottom: 0px;
        margin-left: 0px;
        padding: 0%;
        position: relative;
        left: auto;
        top: -5px;
    }

    .contenedor .main {
        grid-area: main;
        background-color: #006600;
        color: orange;
        height: 78vh;
        margin-top: 1vh;
        padding: 0%;
        overflow: scroll;
        margin-bottom: 0px;
    }

    .contenedor .sidebar {
        grid-area: sidebar;
        background-color: #006600;
        color: white;
        border: red solid 2px;
        margin: 0%;
        padding: 0%;
        overflow: scroll;
        text-align: center;
    }
}